:root {
    --main-color: 100, 140, 150;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong {
    color: unset;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background-color: rgba(var(--main-color), .3);
    color: rgb(var(--main-color));
    font-family: 'Oswald', sans-serif;
    padding: 1vh 1vw;
    margin: 0;
    width: 100vw;
    max-width: unset;
}

main {
    display: grid;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 50px 1fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    justify-items: center;
    align-items: center;
}

.standout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgba(var(--main-color), .2);
    padding: 20px 10px;
}

.standout h2 {
    margin-bottom: .25em;
}

.attributes {
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
}

.attribute {
    width: 200px;
}

.attribute h3 {
    font-size: 1.5em;
}

.attribute:not(:last-child) {
    margin-bottom: 15px;
}

.attribute input {
    width: 60px;
}

.attribute input, .additionalInfo select, .additionalInfo option {
    margin: 0;
    background: rgba(var(--main-color), .2);
    font-size: 1.5em;
    font-weight: 600;
    color: unset;
    text-align: center;
}

.derivedStatistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-column-gap: 30px;
}

.derivedStatistics .standout {
    width: 300px;
}

.additionalInfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-column-gap: 30px; 
    justify-items: center;
}

.additionalInfo .standout {
    width: 200px;
}