* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(35, 45, 65);
}

body {
    padding: 1vh 1vw;
    margin: 0;
    width: 100vw;
    max-width: unset;
    background-color: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}