main {
    padding: 1vh 1vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: auto 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
}

header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    justify-items: center;
    align-items: center;
}

.standout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    border-radius: 1em;
    padding: 2em 1em;

    h2 {
        margin-bottom: 0.25em;
        border-bottom: 2px $primary-color solid;
    }
}

.attributes {
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
}

.attribute {
    cursor: pointer;
    height: 7em;

    h3 {
        font-size: 1.5em;
    }

    input {
        width: 3em;
        height: 1.5em;
    }

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

.additionalInfo .attribute input,
.additionalInfo select {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.attribute input,
.additionalInfo select,
.additionalInfo option {
    margin: 0;
    color: unset;
    text-align-last: center;
    text-align: center;
}

.derivedStatistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 0.5em;

    .standout {
        width: 100%;
        max-width: 15em;
    }
}

.additionalInfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-column-gap: 2vh;
    justify-items: center;

    select {
        cursor: pointer;
    }
}

.encumbered {
    filter: hue-rotate(180deg);
}
