main {
    padding: 1vh 1vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    align-items: start;
}

.text-center {
    text-align: center;
}

.attributes {
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    align-items: unset;
}

.attribute {
    @extend .text-center;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

.derivedStatistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
}

.additionalInfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-column-gap: 1em;
    justify-items: center;

    select {
        background: none;
        border: 0;
        outline-color: $input-border-color;
        @extend .z-depth-1;
    }
}

.encumbered {
    background-color: $encumbered-color;
}
