html {
    background-image: (url('/images/texture-noise.png'));
}

body {
    padding: 1vh 1vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    grid-template-rows: auto auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    align-items: start;
}

.grid-standard {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
}

.text-center {
    text-align: center;
}

.attributes {
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    align-items: unset;
}

.attribute {
    @extend .text-center;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

.derivedStatistics {
    @extend .grid-standard;
    grid-template-columns: 1fr 1fr;
}

.additionalInfo {
    @extend .grid-standard;

    select {
        background: none;
        border: 0;
        border-bottom: 2px solid $input-border-color;
        outline-color: $input-border-color;
    }
}

.skills {
    @extend .grid-standard;
    grid-column: 2/-1;
    grid-template-columns: 1fr 2fr;
}

.encumbered {
    background-color: $encumbered-color;
}
